/* /* body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  } */
  
  body {
    border: 10px double black; 
    
    background-color: darkgray;
  } 
  table{
    border:'10px';
  align-self:'center';
  border: 10px double black; 
  background-color: darkgoldenrod;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  }
  