.button {
    font: inherit;
    border: 5px solid rgb(12, 17, 72);
    background: #6357c2;
    color: rgb(15, 11, 11);
    padding: 1rem 4rem;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover,
  .button:active {
    background: #741188;
    border-color: #741188;
  }
  
  .button:focus {
    outline: none;
  }